<h2>
	Project <span class="title"><%= link_to @stage_reviewer.review_stage.project.title, user_project_path(@user,@stage_reviewer.review_stage.project) %></span>,
	<span class="stage"><%= link_to @stage_reviewer.review_stage.name, user_project_review_stage_path(@user,@project,@review_stage) %></span>:
	<%= personal_link_to @stage_reviewer.user, "'s Reviews" %>
</h2>

<p>
<%= personal_link_to @stage_reviewer.user, 'has completed', user_project_review_stage_stage_reviewer_path(@user,@project,@review_stage,@stage_reviewer) %>
<span class="reviews"><%=h number_with_delimiter @stage_reviewer.completed_reviews.count %></span>
out of
<span class="reviews"><%=h number_with_delimiter @stage_reviewer.document_reviews.count %></span>
assigned reviews
<% if @stage_reviewer.document_reviews.count != 0 %>
(<%=h (@stage_reviewer.completed_reviews.count.to_f / @stage_reviewer.document_reviews.count * 1000).to_i.to_f / 10 %>%)
<% end %>
.
</p>

<% incomplete_review_count = @stage_reviewer.incomplete_reviews.count %>
<% if incomplete_review_count > 0 %>
	<% review_total = @stage_reviewer.document_reviews.count %>
	<%= link_to_task content_tag(:strong,incomplete_review_count) + " reviews to do for #{@stage_reviewer.review_stage.name}", edit_user_project_review_stage_stage_reviewer_document_review_path(@user,@project,@stage_reviewer.review_stage,@stage_reviewer,@stage_reviewer.incomplete_reviews.first) %>
<% end %>

<h3>Next <%=h pluralize(@incomplete_reviews.size,'Review') %></h3>
<table class="reviews">
	<thead>
		<th>Document</th>
		<th>Assigned</th>
	</thead>
	<tbody>
		<% for document_review in @incomplete_reviews %>
			<tr class="review">
				<td><div class="document mini">
					<%= render :partial => 'documents/show_mini', :locals => { :document => document_review.document, :url => edit_user_project_review_stage_stage_reviewer_document_review_path(@user,@project,@review_stage,@stage_reviewer,document_review) } %>
				</div></td>
				<td>
					<%=h document_review.when_assigned.nil? ? 'never' : time_ago_in_words( document_review.when_assigned ) + " ago" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<% unless @completed_reviews.empty? %>
<h3>Last <%=h pluralize(@completed_reviews.size,'Review') %></h3>
<table class="reviews">
	<thead>
		<th>Result</th>
		<th>Document</th>
		<th>Reviewed</th>
	</thead>
	<tbody>
		<% for document_review in @completed_reviews %>
			<tr class="review">
				<td>
					<%=h DocumentReview.disposition( document_review.disposition ) %>
				</td>
				<td class="document">
					<div class="head">
						<div class="title">
							<%= link_to document_review.document.title, user_project_review_stage_stage_reviewer_document_review_path(@user,@project,@review_stage,@stage_reviewer,document_review) %>
						</div>
						<div>
							<span class="journal"> <%=h document_review.document.journal %> </span>
							<span class="date"> <%=h document_review.document.when_published %> </span>
						</div>
					</div>
				</td>
				<td>
					<%=h document_review.when_reviewed.nil? ? 'never' : time_ago_in_words( document_review.when_reviewed) + " ago" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<% end %>

<% if @project.managed_by?( current_user ) %>
<h2>Management</h2>
<%= link_to "Unassign #{@stage_reviewer.user.nickname}", user_project_review_stage_stage_reviewer_path(@user,@project,@review_stage,@stage_reviewer), :method => :delete, :confirm => "Are you sure you want to unassign #{@stage_reviewer.user.full_name} from #{@review_stage.name}?" %> from <%= @review_stage.name %>
<% end %>
