<% form_for [@user,@project,@review_stage,@stage_reviewer,document_review] do |f| %>

<%= f.error_messages %>

<%= link_to "Discard Changes", user_project_review_stage_stage_reviewer_document_review_path(@user,@project,@review_stage,@stage_reviewer,@document_review) %>

<%= f.submit "Save and Proceed &raquo;" %>

<fieldset id="disposition">
<label class="disposition">
	<%= f.radio_button :disposition, '' %> Unreviewed
</label>
</fieldset>

<fieldset id="disposition include">
<label class="disposition">
	<%= f.radio_button :disposition, 'I' %> Include
</label>
</fieldset>


<fieldset id="disposition exclude">
<label class="disposition">
	<%= f.radio_button :disposition, 'E' %> Exclude
</label>

<ul class="reasons">
<%
	possible_reasons =  @review_stage.reasons.concat( document_review.reasons ).uniq
	possible_reasons.sort! { |a,b| (a.sequence || 0)  <=> (b.sequence || 0) }
	possible_reasons.sort! { |a,b| a.created_by_stage_reviewer.nil? ? 0 : 1 <=> b.created_by_stage_reviewer.nil? ? 0 : 1 }
%>
<%= hidden_field_tag 'document_review[reason_ids][]', '' %>
<% for reason in possible_reasons %>
	<%= render :partial => 'reason', :locals => { :reason => reason, :document_review => document_review } %>
<% end %>

<li class="reason <%= cycle('even','odd')%>" id='new-reason'>
	<%= check_box_tag '_null', -1, true, :disabled => true %>
	<%= text_field_tag 'custom_reason[title]', "", :size => 20, :id => 'new-reason-title' %>
	<%= observe_field 'new-reason-title', :function => "element.getValue() ? $('new-reason-details').show() : $('new-reason-details').hide() ;" %>
	<span class="owner"><%= personal_link_to @user, '', user_project_review_stage_stage_reviewer_path(@user,@project,@review_stage,@user), :display => :nickname %></span>
	<div style="display: none" id='new-reason-details'>
		<label>
			Description:
			<%= text_area_tag 'custom_reason[description]', "", :rows => 3, :cols => 20, :id => 'new-reason-description' %>
		</label>
		<%= link_to_function 'Add', 'add_reason()' %>
	</div>
</li>

</ul>

</fieldset>

<%= link_to "Discard Changes", user_project_review_stage_stage_reviewer_document_review_path(@user,@project,@review_stage,@stage_reviewer,@document_review) %>

<%= f.submit "Save and Proceed &raquo;" %>

<% end %>

<% javascript_tag do %>
function add_reason() {
	new Ajax.Updater( 'new-reason', '<%= add_reason_user_project_review_stage_stage_reviewer_document_review_path(@user,@project,@review_stage,@stage_reviewer) %>', {
	insertion: 'before',
	method: 'put',
	parameters: {
		'authenticity_token': '<%= form_authenticity_token %>',
		'custom_reason[title]': $F('new-reason-title'),
		'custom_reason[description]': $F('new-reason-description'),
		},
	onComplete: function() {
			$('new-reason').previous('li').select('input').first().checked = true ;
			$('new-reason-title').clear() ;
			$('new-reason-description').clear() ;
			$('new-reason-details').hide() ;
		}
	} ) ;
}
<% end %>

<%= javascript_tag "function decorate_fieldsets() { decorate_fieldset_for_radio($('document_review_disposition_i')); decorate_fieldset_for_radio($('document_review_disposition_e')); }" %>
<%= javascript_tag "function decorate_fieldset_for_radio(r) { r.getValue() ? r.up('fieldset').addClassName('active') : r.up('fieldset').removeClassName('active') } " %>
<%= observe_form "edit_document_review_#{@document_review.id}", :function => 'decorate_fieldsets()' %>
<%= javascript_tag "decorate_fieldsets();" %>

<% javascript_tag do %>withLoadedDocument( function() {
	var f = $('edit_document_review_<%=document_review.id%>') ;
	var autocheck = function () {
		if ( $A(f['document_review[reason_ids][]']).any(function(e) { return e.checked ; }) ) {
			$('document_review_disposition_e').checked = true ;
		} else {
			$('document_review_disposition_').checked = true ;
		}
	} ;
	var observe = function () {
		$A(f['document_review[reason_ids][]']).each( function(reasonInput) { reasonInput.observe('change', autocheck ) } ) ;
	} ;
	f.observe('DOMSubtreeModified', observe ) ;
	observe() ;
} ) ;<% end %>

