<h2>
	Project <span class="title"><%= link_to @document_review.stage_reviewer.review_stage.project.title, user_project_path(@user,@document_review.stage_reviewer.review_stage.project) %></span>,
	<span class="stage"><%= link_to @document_review.stage_reviewer.review_stage.name, user_project_review_stage_path(@user,@project,@document_review.stage_reviewer.review_stage) %></span>:
	<%= personal_link_to @document_review.stage_reviewer.user, '', user_path(@document_review.stage_reviewer.user) %></span>
</h2>

<div class="side-by-side">
	<div class="left-side">
		<%= render :partial => 'documents/show', :locals => { :document => @document_review.document } %>
	</div>
	<div class="right-side">
		<% if @project.managed_by?( current_user ) %>
			<%= link_to "Unassign review from #{@document_review.stage_reviewer.user.nickname}", user_project_review_stage_stage_reviewer_document_review_path(@user,@project,@review_stage,@stage_reviewer,@document_review), :method => :delete, :confirm => "Are yous sure you want to cancel the assignment of #{@stage_reviewer.user.full_name} to review \"#{@document_review.document.title}\"?" %>
		<% end %>
		<%= render :partial => 'edit', :locals => { :document_review => @document_review } %>
	</div>
</div>
