<h2>
	Project <%= link_to @manager.project.title, user_project_path(@user,@manager.project) %>:
	<%= personal_link_to @manager.user %>
</h2>

<div class="card">

<%= render :partial => "users/show", :locals => { :user => @manager.user } %>

</div>

<p>
  <b>Project:</b>
  <%= link_to @manager.project.title, user_project_path(@user,@manager.project) %>
</p>

<p>
  <b>Manager:</b>
  <%= personal_link_to @manager.user %>
</p>

<%= link_to 'Revoke', user_project_manager_path(@user,@project,@manager), :method => :delete %> |
<%= link_to 'Edit', edit_user_project_manager_path(@user,@project,@manager) %> |
<%= link_to 'Back', user_project_managers_path(@user,@project) %>

