<h2><%= link_to @project.title, user_project_path(@user,@project) %>: New Review Stage</h2>

<% form_for([ @user, @project, @review_stage ]) do |f| %>
  <%= f.error_messages %>
    <%= f.hidden_field :project_id %>
    <%= f.hidden_field :sequence %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <% box(:inset) do %>
    <%= f.text_area :description %>
    <% end %>
  </p>
  <p>
    <%= f.label :gate_function %><br />
    <%= f.text_field :gate_function %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', user_project_review_stages_path(@user,@project) %>
