<div class="head">
	<div class="title">
		<%= link_to abbreviate(document.title,50), url %>
	</div>
	<div class="authors"><%= image_tag '1296768074_kuser.png' %><%=h abbreviate(document.authors,30) %></div>
	<div>
		<span class="journal"> <%=h abbreviate(document.journal,30) %> </span>
		<span class="date"><%= image_tag '1296767863_calendar_month.png' %><%=h document.when_published %></span>
	</div>
</div>
<% unless document.tags.empty? %>
<div class="foot">
	<% for tag in document.tags %>
		<%= link_to tag.words, tag, :class => :tag %>
	<% end %>
</div>
<% end %>
