<h2>
        Project <%= link_to @project.title, user_project_path(@user,@project) %>:
        All <%=h number_with_delimiter @documents_count %> Documents
</h2>
<% if @pages > 1 %>
<p>
	Documents per Page:
	<% [ 10, 25, 50, 100, 200 ].each do |limit| %>
		<% if limit == @limit %>
			<span class="page-limit here">
				<%=h limit %>
			</span>
		<% else %>
			<span class="page-limit">
				<%= link_to limit, url_for(:overwrite_params => { :offset => @offset, :limit => limit } ) %>
			</span>
		<% end %>
	<% end %>
</p>
<p>
	Documents <%= (@page * @limit)+1 %> ... <%= ((@page+1) * @limit) %>
</p>
<p>
	Pages:
	<% first = [0,@page-5].max %>
	<% last = [@page+5,@pages-1].min %>
	<% if @page > 5 %>
		<%= link_to "First #{@limit}", url_for(:overwrite_params => { :offset => 0, :limit => @limit } ) %>
		...
		<%= link_to "Previous #{@limit}", url_for(:overwrite_params => { :offset => @offset-5*@limit, :limit => @limit } ) %>
		...
	<% end %>
	<% (first..last).each do |page| %>
		<% if page == @page %>
			<span class="page-number here">
				<%=h (page+1) %>
			</span>
		<% else %>
			<span class="page-number">
				<%= link_to (page+1), url_for(:overwrite_params => { :offset => page*@limit, :limit => @limit } ) %>
			</span>
		<% end %>
	<% end %>
	<% if @page < @pages-4 %>
		...
		<%= link_to "Next #{@limit}", url_for(:overwrite_params => { :offset => @page+5*@limit, :limit => @limit } ) %>
		...
		<%= link_to "Last #{@limit}", url_for(:overwrite_params => { :offset => @document_count-1-@limit, :limit => @limit } ) %>
	<% end %>
</p>
<% end %>

<table>
  <tr>
    <th>Source</th>
    <th>Document</th>
    <th>Duplication</th>
  </tr>

<% for document in @documents %>
  <tr>
    <td>
		<%= link_to document.document_source.name, user_project_document_source_path(@user,document.document_source.project,document.document_source) %>
	</td>
	<td class="document">
		<div class="head">
			<div class="title">
				<%= link_to document.title, user_project_document_path(@user,@project,document) %>
			</div>
			<div class="authors">
				<%=h document.authors %>
			</div>
			<div>
				<span class="journal"> <%=h document.journal %> </span>
				<span class="date"> <%=h document.when_published %> </span>
			</div>
		</div>
	</td>
    <td>
		<% if document.duplicate_of_document || !document.duplicate_documents.empty? %>
			<% if document.duplicate_of_document %>
				<p>Duplicate exists from <%= link_to document.duplicate_of_document.document_source.name, user_project_document_path(@user,@project,document.duplicate_of_document) %></p>
			<% end %>
			<% for duplicate_document in document.duplicate_documents %>
				<p>Duplicated by document from <%= link_to duplicate_document.document_source.name, user_project_document_path(@user,@project,duplicate_document) %></p>
			<% end %>
		<% else %>
			<span class="missing">none</span>
		<% end %>
	</td>
  </tr>
<% end %>
</table>

<br />
