<h2>New Project</h2>

<% form_for([ @user, @project ]) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <% box(:inset) do %>
    <%= f.text_area :description %>
    <% end %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', user_projects_path(@user) %>
