
<h2>Project: <span class="title"> <%=h @project.title %> </span> </h2>

<% box(:inset) do %>
	<div class="description"> <%= @project.description %> </div> <!-- note the lack of "h" here -->
	<% if @project.managed_by?(current_user) %>
		<p>
		<% if @project.keywords.blank? %>
			<span class="missing">no keywords assigned</span>
		<% else %>
			Keywords:
			<ul class="keywords">
				<% @project.keywords.scan(/([^\s,;"']+)|'([^']*)'|"([^"]*)"/).collect{ |x| x.reject(&:nil?).first }.each do |keyword| %>
					<li><%=h keyword %></li>
				<% end %>
		<% end %>
		</p>
		<div class="actions">
			<%= link_to "Modify", edit_user_project_path(@user,@project), :class => 'action' %>
		</div>
	<% end %>
<% end %>

<% for review_stage in @project.review_stages do %>
	<% for stage_reviewer in review_stage.stage_reviewers.find( :all, :conditions => { :user_id => @user.id } ) do %>
		<% incomplete_review_count = stage_reviewer.incomplete_reviews.count %>
		<% if incomplete_review_count > 0 %>
			<% review_total = stage_reviewer.document_reviews.count %>
			<%= link_to_task content_tag(:strong,incomplete_review_count) + " reviews to do for #{review_stage.name}", user_project_review_stage_stage_reviewer_path(@user,@project,review_stage,stage_reviewer) %>
		<% end %>
	<% end %>
<% end %>

<h3 class="users">Participants</h3>

<div class="managers">
	<% if @project.managers.empty? %>
		<p><span class="missing">nobody</span> is managing this project.<p>
	<% else %>
		<% delimited_list @project.managers do |manager| %>
			<p><%= personal_link_to manager.user, 'is managing', user_project_manager_path(@user,@project,manager) %>
			this project.</p>
		<% end %>
	<% end %>
	<span class="actions">
		<% if current_user && current_user.is_admin %>
			<% unless @user.manages?( @project ) %>
				<span class="action add"> <%= link_to "Make #{@user.full_name} a Manager", new_user_project_manager_path( @user, @project ) %> </span>
			<% end %>
		<% end %>
	</span>
</div>

<div class="reviewers">
	<% all_stage_reviewers = @project.review_stages.inject([]) { |memo,rs| memo.concat(rs.stage_reviewers)  } %>
	<% all_reviewing_users = {} ; all_stage_reviewers.each { |sr| all_reviewing_users[sr.user] ||= [] ; all_reviewing_users[sr.user] << sr } %>
	<% if all_reviewing_users.empty? %>
		<p><span class="missing">nobody</span> is reviewing this project.</p>
	<% else %>
		<% for user_stage_reviewers in all_reviewing_users ; user = user_stage_reviewers[0] ; stage_reviewers = user_stage_reviewers[1] %>
			<p><%= personal_link_to user, 'is reviewing' %> </span>
			this project in
			<% delimited_list stage_reviewers do |stage_reviewer| -%>
				<span class="reviewer"> <%= link_to stage_reviewer.review_stage.name, user_project_review_stage_stage_reviewer_path(@user,@project,stage_reviewer.review_stage,stage_reviewer) %> </span>
			<% end %>.</p>
		<% end %>
	<% end %>
	<p>
		<%= link_to_function "Invite someone", "Effect.toggle('project-#{@project.id}-inviter', 'slide', { duration: 0.25 })" %> to sign up for reviewing this project
		<% form_tag invite_reviewer_user_project_path(@user,@project), :method => :post, :id => "project-#{@project.id}-inviter", :style => "display: none;" do %>
			Enter E-Mail Address: <input type="text" name="invitee_address"/>
			<input type="submit" value="Send Invitation"/>
			<%= link_to_function "Cancel", "Effect.toggle('project-#{@project.id}-inviter', 'slide', { duration: 0.25 })" %>
		<% end %>
	</p>
</div>


<h3 class="documents">Documents</h3>

<div class="sources">
<% if @project.document_sources.size == 0 %>
	<p>
	This project contains no
	<%= link_to('documents',user_project_documents_path(@user,@project)) %>
	or
	<%= link_to( 'document sources', user_project_document_sources_path(@user,@project) ) %>.
	You can <%= link_to('add a new source',new_user_project_document_source_path(@user,@project)) %>
	</p>
<% else %>
	<p>
	This project contains
	<span class="documents"> <%= link_to pluralize( @project.document_sources.inject(0) { |c,ds| c += ds.documents.count }, "document" ), user_project_documents_path(@user,@project) %> </span>
	from
	<span class="sources"> <%= link_to pluralize( @project.document_sources.count, "source" ), user_project_document_sources_path(@user,@project) %></span>:
	</p>
	<table class="basic">
		<thead><tr>
			<th>Source</th>
			<%= @project.document_sources.collect { |ds| content_tag :td, link_to(ds.name,user_project_document_source_path(@user,@project,ds)) }.join %>
		</tr></thead>
		<tbody><tr>
			<th>Documents</th>
			<%= @project.document_sources.collect { |ds| content_tag :td, number_with_delimiter(ds.documents.count) }.join %>
		</tr></tbody>
	</table>
<% end %>
</div>

<h3 class="stages">Stages</h3>

<% if @project.review_stages.size == 0 %>
	<p>
	This project contains no
	<%= link_to('review stages',user_project_review_stages_path(@user,@project)) %>.
	You can <%= link_to('add a new one' ,new_user_project_review_stage_path(@user,@project))  %>
		</td>
	</p>
<% else %>
	<p>
	This project contains
	<span class="stages"> <%= link_to pluralize( @project.review_stages.count, "review stage" ), user_project_review_stages_path(@user,@project) %></span>:
	</p>

<table class="stages">
	<thead>
		<tr>
			<th>Number</th>
			<th>Stage</th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
<% for review_stage in @project.review_stages do %>
	<tr class="stage">
		<th class="sequence">
			<%=h review_stage.sequence %>
		</th>
		<td>
			<%= link_to review_stage.name, user_project_review_stage_path(@user,@project,review_stage) %>
		</td>
		<td>
			<p>
			Documents in <%= link_to review_stage.name, user_project_review_stage_path(@user,@project,review_stage) %>
			are being reviewed by	
			<% delimited_list review_stage.stage_reviewers, :empty_content => "nobody" do |stage_reviewer| %>
				<%= personal_link_to stage_reviewer.user, '', user_project_review_stage_stage_reviewer_path(@user,@project,review_stage,stage_reviewer) %>
			<% end %>.
			</p>
			<p>
			<%= ReviewStage.gate_noun( review_stage.gate_function ).capitalize %> will continue to the next stage.
			</p>
		</td>
	</tr>
<% end %>
	</tbody>
</table>
<% end %>

<h3>Reports</h3>

<p>
	Generate a <%= link_to 'Agreement Report', report_user_project_path(@user,@project) %>.
</p>


<% if current_user && ( current_user.is_admin || current_user.participates_in?( @project ) ) %> <!-- Project Plan -->

<h2>Plan</h2>
<%= render :partial => 'plan', :locals => { :user => @user, :project => @project } %>

<% end %> <!-- Project Plan -->
