<html><body>
<p>
	<%= @user.full_name %> has invited you to participate in
	a <%= link_to "Systematic Literature Review", root_url(:only_path => false) %>.
</p>

<p>
The project is "<%= @project.title %>."
To get started, <%= link_to "sign up for an account", login_url(:only_path => false) %>.
</p>

<p>
<%= @user.full_name %> will be notified when your sign up process is complete and will contact you to proceed from there.
</p>
</body></html>
