<h2>
	Project <span class="title"><%= link_to @project.title, user_project_path(@user,@project) %></span>,
	Questionnaire for <span class="Questionnaire"><%= link_to @review_stage.name, user_project_review_stage_path(@user,@project,@review_stage) %></span>:
</h2>

<h3>Notes</h3>

<% box(:inset) do %>
  <p><%=h @review_form.notes %></p>
<% end %>

<h3>Questions</h3>

<div class="questions" id='question-list'>
	<div style="display:none;" id="empty-list-notice" class="notices"><span class="missing">no questions have been added</span></div>
	<% @review_form.questions.each do |question| %>
		<table class="question" id="question-<%=question.id%>">
			<tbody><tr>
				<td class="sequence">
					Q<%= question.sequence %>
				</td>
				<td class="question" id="question-<%=question.id%>-question">
					<span><%=h question.question %></span>
				</td>
				
				<td class="possible-answers">
					<ul id="question-<%=question.id%>-possible-answers">
						<% question.possible_answers.each do |possible_answer| %>
							<li id="possible-answer-<%=possible_answer.id%>">
								<span><%=h possible_answer.possible_answer %></span>
							</li>
						<% end %>
					</ul>
				</td>
			</tr></tbody>
			<% if question.notes %><tfoot><tr>
				<th/>
				<td  colspan="3" class="notes">
					<% box(:inset) do %>
						<span id="question-<%=question.id%>-notes"><%=h question.notes %></span>
					<% end %>
				</td>
			
			</tr></tfoot><% end %>
		</table>
	<% end %>
	<div id="end-of-list-notice" class="notices"><span class="missing">end of questions</span></div>
</div>

<script type="text/javascript">
	function synchronizeEmptyListNotice() {
		var noQuestions = $$('#question-list .question').length == 0 ;
		if ( $('empty-list-notice').visible() != noQuestions ) {			
			if ( noQuestions )
				$('empty-list-notice').style.display = 'none' ;
			else
				delete $('empty-list-notice').style.display ;
		}
	}
	$('question-list').observe('DOMSubtreeModified',synchronizeEmptyListNotice) ;
	synchronizeEmptyListNotice() ;
</script>
  
<%= link_to 'Back', user_project_review_stage_path(@user,@project,@review_stage) %>
<% if @project.managed_by?(current_user) %>
	<%= link_to 'Edit', edit_user_project_review_stage_review_form_path(@user,@project,@review_stage) %>
<% end %>
