<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>
    Minnow
    <% if current_project %>
      - <%= current_project.title %>
    <% end %>
    - <%= controller.controller_name.titlecase %>
  </title>
  <% skin = User.preference(current_user,'skin', :default => 'blue' ) %>
  <%= stylesheet_link_tag "skins/#{skin}/application"  %>
  <%= stylesheet_link_tag "skins/#{skin}/#{controller.controller_name.pluralize}"  %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<div id="header">

<div id="banner">
</div>

<div id="title">
	<% if current_project.blank? %>
		<div class="subtitle missing">
			No Project
		</div>
		<div class="title">
			Minnow <%= image_tag 'minnow.png' %> Systematic  LitReview Tracker
		</div>
	<% else %>
		<div class="subtitle">
			Minnow <%= image_tag 'minnow.png' %> Systematic  LitReview Tracker
		</div>
		<div class="title">
			<%= link_to current_project.title, user_project_path(@user || current_user, current_project) %>
		</div>
	<% end %>
</div>

<div id="context1">
	<% if current_user.blank? %>
		<span> <%= link_to_unless_current "Log In", :controller => 'session', :action => 'new' %> </span>
	<% else %>
		Signed in as <span class="user"><%= link_to_unless_current current_user.nickname, user_path(current_user) %></span>
		<span> <%= link_to_unless_current "Switch User...", :controller => 'session', :action => 'new' %> </span>
		<span> <%= link_to_unless_current "Log Out", :controller => 'session', :action => 'destroy' %> </span>
	<% end %>
</div>

<div id="context2">
	<% if current_user %>
		<% favs = current_user.favorite_projects(5) ; favs.delete current_project %>
		<% if favs.empty? %>
			<span class="missing">No Other Projects</span>
		<% else %>
			Switch Projects:
			<% for project in favs %>
				<span> <%= link_to_unless_current project.title, { :controller => 'session', :action => 'switch_project', :id => project }, { :class => 'switch' } %> </span>
			<% end %>
		<% end %>
	<% end %>
</div>

</div>

<div id="tabs">
	<% if current_user %>
		<% if current_project %>
			<span class="tab"> <%= link_to_unless_current( "Home", user_project_path(current_user,current_project)) { |name| content_tag(:span,name,:class=>'here') } %> </span>
			<span class="tab"> <%= link_to_unless_current( current_user.nickname, user_path(current_user) ){ |name| content_tag(:span,name,:class=>'here') } %> </span>
		<% else %>
			<span class="tab"> <%= link_to_unless_current( "Home", user_path(current_user) ){ |name| content_tag(:span,name,:class=>'here') } %> </span>
		<% end %>
		<span class="tab"> <span class="missing">Messages</span> </span> <!-- "Messages" tab will go here -->
		<% if current_user.is_admin %>
			<span class="tab"> <%= link_to_unless_current( "Projects", user_projects_path(@user || current_user) ) { |name| content_tag(:span,name,:class=>'here') } %> </span>
			<span class="tab"> <%= link_to_unless_current( "People", users_path ) { |name| content_tag(:span,name,:class=>'here') } %> </span>
		<% end %>
	<% else %>
		<span class="tab"> <span class="missing">Home</missing> </span> <!-- "Home" tab for non-registered users goes here -->
	<% end %>
	<span class="tab"> <%= link_to_unless_current( "Tags", tags_path ) { |name| content_tag(:span,name,:class=>'here') } %> </span>

	<span class="tab aux"> <span class="missing">Help</span> </span>
	<span class="tab aux"> <span class="missing">Contacts</span> </span>

</div>

<div id="tree">
	<!--% box(:inset) do %-->
	<% tree() do |t|
		t.tag             :show => :words, :index => 'All Tags'
		t.user            :show => :full_name, :index => 'People'
		t.project         :show => :title
		t.document_source :show => :name
		t.document        :show => Proc.new { |d| '"' + abbreviate(d.title) + '"' }
		t.manager         :show => Proc.new { |m| "Manager (#{m.user.nickname})" }
		t.review_stage    :show => :name
		t.stage_reviewer  :show => Proc.new { |sr| sr.user ? "Reviewer (#{sr.user.nickname})" : "New Reviewer" }
		t.document_review :show => Proc.new { |dr| '"' + abbreviate(dr.document.title) + '"' }
		t.reason          :show => Proc.new { |r| '"' + abbreviate(r.title) + '"' }
		t.node :tag
		t.node :user do |u|
			u.node :project do |p|
				p.node :document
				p.node :document_source
				p.node :manager
				p.node :review_stage do |rs|
					rs.node :reason
					rs.node :stage_reviewer do |sr|
						sr.node :document_review
					end
				end
			end
		end
	end %>
	<!--% end %-->
</div>

<div id="main">
<% if flash[:error] %>
	<p class="flash error"><%= flash[:error] %></p>
<% end %>
<% if flash[:notice] %>
	<p class="flash notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:followup] %>
	<% if flash[:followup][:url] %>
		<p class="flash followup">
			<%= flash[:followup][:message] %>
		</p>
	<% elsif flash[:followup][:post] %>
		<% form_tag flash[:followup][:post][:url], :method => :post, :class => "flash followup" do |f| %>
			<% flash[:followup][:post][:params].each_pair do |k,v| %>
				<%= hidden_field_tag k.to_s, :value => v %>
			<% end %>
			<%= flash[:followup][:message] %>
			<%= submit_tag flash[:followup][:post][:commit] %>
		<% end %>
	<% end %>
<% end %>
<!--
<%= render :partial=>"common/dashboard" %>
-->

<div class="main"><%= yield  %></div>

</div>

<div id="footer"/>

</body>
</html>
