<h1>Editing document_source</h1>

<% form_for([@user,@project,@document_source]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= @name %>
  </p>
  <p>
    <%= f.label :identifier %><br />
    <%= @identifier %>
  </p>
  <p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :query_url_template %><br />
    <%= f.text_field :query_url_template %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', user_project_document_source_path(@user,@project,@document_source) %> |
<%= link_to 'Delete', user_project_document_source_path(@user,@project,@document_source), :method => :delete, :confirm => "Destroy this document source and all its documents and reviews?" %> |
<%= link_to 'Back', user_project_document_sources_path(@user,@project) %>
