<h2><%= link_to @project.title, user_project_path(@user,@project) %>: New Document Source</h2>

<% form_for([ @user, @project, @document_source ]) do |f| %>
  <%= f.error_messages %>
    <%= f.hidden_field :project_id %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :identifier %><br />
    <%= f.text_field :identifier %>
  </p>
  <p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :query_url_template %><br />
    <%= f.text_field :query_url_template %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', user_project_document_sources_path(@user,@project) %>
