<p>
  <b>Project:</b>
  <%=h @document_source.project.title %>
</p>

<p>
  <b>Name:</b>
  <%=h @document_source.name %>
</p>

<p>
  <b>Identifier:</b>
  <%=h @document_source.identifier %>
</p>

<p>
  <b>Website:</b>
  <%=h @document_source.website %>
</p>

<p>
  <b>Query url template:</b>
  <%=h @document_source.query_url_template %>
</p>
